/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@font-face {
    font-family: Pacifico;
    src: url('font/Pacifico.ttf');
}
@font-face {
    font-family: Console;
    src: url('font/clacon.ttf');
}
@font-face {
    font-family: Daniel;
    src: url('font/daniel.ttf');
}
nav a.button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    display: flex;
}
nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
    display: normal;
}    
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
}
.header {
    font-family: Daniel;
    font-weight: bold;
}

.card-title {
    font-family: Daniel;
}
.card-content {
    font-family: cursive;
}
.card-action {
    font-family: cursive;
    font-weight: bold;
}

i {
    float: left;
    padding-right: 10px;
}
.myicon {
    position: relative;
    top: 24px;
}
  
#moveright {
    position: relative;
    left: 0px;
    transition: left 1s;
    transition-timing-function: ease;
}
#moveright:hover {
    position: relative;
    left: 20px;
}

#logo {
    position: relative;
    height: 300px;
}
#my-name {
    position: relative;
}