.menu {
    position: relative;
    padding-left: 20px;
}

.cube {
    position: relative;
    padding-top: 4pt; 
    padding-left: 10pt; 
    padding-right: 10pt;
}

.logo {
    position: relative;
    width: 100%;    
}