.card-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(12, 1fr);
    width: auto;
    height: auto;
}

/* Light cards */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    grid-column: auto;
    grid-row: auto;
    background-color: #fefefe;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #afafaf;
    padding: 1em;
    margin: .5em .5em;
}

.card-row {
    grid-column: 1 / -1;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card.pressable:hover{
    border-color: #000000;
}

.card.pressable:active {
    border-color: #afafaf;
}

.card > .card-title {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    margin: 0em 0em .5em 0em;
}

.card > .card-title > .card-icon {
    float: right;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.card.card-row > .card-title > .card-icon {
    float: inherit;
    margin-left: 0;
}

.card > .card-inner-container > .card-item {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: #333333;
    display: block;
    margin: .5em 0em;
}

.card > .card-inner-container a {
    color: #333333;
}

.card > .card-inner-container a:hover {
    color: #000000;
}

.card-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: .8em 0;
}

.card-links a {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    margin: 0em 1em;
    color: #81a2be;
}

.card-links a:hover {
    color: #b294bb;
}

/* Dark variants of cards */

.dark-theme .card {
    background-color: #1d1f21;
    border-color: #7f7f7f;
}

.dark-theme .card:hover {
    border-color: #ffffff;
}

.dark-theme .card.pressable:active {
    border-color: #7f7f7f;
}

.dark-theme .card > .card-title {
    color: #ffffff;
}

.dark-theme .card > .card-inner-container > .card-item {
    color: #afafaf;
}

.dark-theme .card > .card-inner-container a {
    color: #dfdfdf;
}

.dark-theme .card > .card-inner-container a:hover {
    color: #ffffff;
}

/* Borderless cards */
.card.borderless {
    border: none;
    background: rgba(0, 0, 0, 0);
}

.card.borderless:hover{
    box-shadow: none;
}
