html, body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Helvetica, arial, sans-serif; 
}

h1 {
	font-size: 24px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 0;
}

hr {
	opacity: 0.4;
	border-top: 0px single #DDDDDD;
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	height: 1px;
	width: 70%;
}

.logo {
	padding-top: 16px;
	width: 200px;
	opacity: 0.9;
	transition: opacity 0.5s, transform 1s;
	transition-timing-function: ease-out;
	-webkit-transition: opacity 0.5s, transform 1s;
	-webkit-transition-timing-function: ease-out;
}

.logo:hover {
	transform: scale(1.02, 1.02);
	opacity: 1.0;
}

.quote {
	font-size: 14px;
	font-kerning: auto;
	line-height: 20px;
}

.content {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0;
	padding-bottom: 80px;
}

.footer {
	position: fixed;
	background-color: #FFFFFF;
	margin: 0;
	left: 0;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 8px 10px 6px black;
	z-index: 3;
}

.social-bar {
	align-content: center;
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
}

#footer-icon {
	text-align: center;
	align-content: center;
	vertical-align: center;
	text-decoration: none;
	color: #5B5B5B;
}

.icon {
	vertical-align: middle;
	padding: 8px;
	font-size: 32px;
	border-radius: 20px;
	opacity: 0.5;
	font-color: #8C8C8C;
	transition: color 0.8s, opacity 0.5s;
	transition-timing-function: ease-out;
	-webkit-transition: color 0.8s, opacity 0.5s;
	-webkit-transition-timing-function: ease-out;
}

.icon:hover {
	opacity: 1.0;
}

.icon-shuffle {
	float: right;
	padding-right: 24px;
}

.icon-github {
	text-align: center;
	font-size: 44px;
}
.icon-gmail {
	font-size: 42px;
	padding-right: 0;
}
.icon-outlook {
	font-size: 28px;
}
.icon-lichess {
	font-size: 38px;
	padding-left: 2px;
}
.icon-stack-overflow {
	padding-left: 4px;
}

.icon-shuffle:hover {
	color: #E20022 !important;
}
.icon-github:hover {
	color: #000000 !important;
}
.icon-quora:hover {
	color: #a82400 !important;
}
.icon-outlook:hover {
	color: #00a1f1 !important;
}
.icon-medium:hover {
	color: #02b875 !important;
}
.icon-gmail:hover {
	color: #ea4335 !important;
}
.icon-stack-overflow:hover {
	color: #f48024 !important;
}
.icon-lichess:hover {
	color: #000000 !important;
}
