html, body {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	font-family: Helvetica, arial, sans-serif; 
}

.main-title {
	font-size: 24px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 0;
}

h2, h3, h4 {
	padding-bottom: 0;
	margin-bottom: 0;
}

hr {
	opacity: 0.4;
	height: 1px;
	width: 70vw;
	border-top: 3px single #DDDDDD;
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 0 none;
}

a {
	color: #1188CC;
}

.logo {
	opacity: 0.9;
	width: 200px;
	padding-top: 16px;
	padding-bottom: 16px;
	transition: opacity 0.5s ease-out, transform 1s ease-out;
	-webkit-transition: opacity 0.5 ease-out, transform 1s ease-out;
}

.logo:hover {
	opacity: 1.0;
	transform: scale(1.02, 1.02);
}

.quote {
	font-size: 14px;
	font-kerning: auto;
	line-height: 20px;

	padding-left: 10%;
	padding-right: 10%;
}

.content {
	font-size: 14px;
	line-height: 20px;
	
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 0;
	margin-bottom: 80px;
}

.footer {
	position: fixed;
	background-color: #FFFFFF;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	overflow: hidden;
	z-index: 3;
}

#footer {
	box-shadow: 0 2px 10px 0px black;
	-webkit-box-shadow: 0 -8px -6px -6px black;
	transition: all 0.3s ease-out;
}

#footer.active {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: 1px solid #DDDDDD;
}

.social-bar {
	position: absolute;
	align-content: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

.right-bar {
	align-content: center;
	padding: 0;
	margin: 0;
}

#footer-icon {
	text-align: center;
	align-content: center;
	vertical-align: center;
	text-decoration: none;
}

.icon {
	color: #5B5B5B;
	font-size: 32px;
	opacity: 0.5;
	padding: 8px;
	vertical-align: middle;
	transition: color 0.8s, opacity 0.5s;
	transition-timing-function: ease-out;
	-webkit-transition: color 0.8s, opacity 0.5s;
	-webkit-transition-timing-function: ease-out;
}

.icon:hover {
	opacity: 1.0;
}

.icon-shuffle {
	color: #E20022;
	float: right;
	padding-right: 24px;
}

.icon-github {
	opacity: 1.0;
	text-align: center;
	font-size: 44px;
}
.icon-gmail {
	font-size: 42px;
	padding-right: 0;
}
.icon-outlook {
	font-size: 28px;
}
.icon-lichess {
	font-size: 38px;
	padding-left: 2px;
}
.icon-stack-overflow {
	padding-left: 2px;
	padding-right: 4px;
}

.icon-shuffle:hover {
	color: #E20022 !important;
}
.icon-github:hover {
	color: #000000 !important;
}
.icon-quora:hover {
	color: #a82400 !important;
}
.icon-outlook:hover {
	color: #00a1f1 !important;
}
.icon-medium:hover {
	color: #02b875 !important;
}
.icon-gmail:hover {
	color: #ea4335 !important;
}
.icon-stack-overflow:hover {
	color: #f48024 !important;
}
.icon-lichess:hover {
	color: #000000 !important;
}


@media (max-width: 512px) {
	.footer {
		padding-top: 5px;
	}
	.footer .icon {
		font-size: 5vw;
		padding: 0.5vw;
		padding-bottom: 1vw;
	}
	.footer .icon-gmail {
		font-size: 6vw;
		padding-right: 0;
	}
	.footer .icon-quora {	
		padding-left: 0;
	}
	.footer .icon-github {
		font-size: 7vw;
		padding-right: 0;
	}
	.footer .icon-stackoverflow {
		font-size: 4vw;
		padding-left: 0;
		padding-right: 0;
	}
	.footer .icon-lichess {
		padding-left: 0;
		font-size: 6vw;
	}
	.footer .icon-outlook {
		font-size: 4vw;
	}
	.footer .icon-shuffle {
		padding-top: 5px;
		padding-right: 5vw;
	}
}

