@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,500');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

body {
    background-color: #272727;
}

a {
    text-decoration: none;
    color: #afafaf;
    display: block;
    margin: .5em 0em;
}

a:hover {
    color: #ffffff;
}

.global-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    height: auto;
}

.card {
    flex: 1 1;
    background-color: #272727;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #9f9f9f;
    padding: 1em;
    margin: .5em .5em;
}

.card-row {
    flex: 0 1 100%;
}

.card:hover {
    background-color: #242424;
    border-color: #ffffff;
}

.card.pressable:active {
    border-color: #9f9f9f;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    margin: 0em 0em .35em 0em;
}

.card-inner-container {
    font-size: 0.8rem;
    font-weight: 400;
    overflow-y: scroll;
    vertical-align: top;
}

#name {
    font-size: 4rem;
    font-weight: 200;
    color: #ffffff;
    margin: 1.5em 0em 1em 0em;
}

#quote-card {
    text-align: center;
}

#quote-card > * {
    font-size: 0.8rem;
    font-weight: 400;
    color: #afafaf; 
    margin: .5em 0em;
}

#quote-author {
    color: #ffffff; 
}

#contacts {
    width: 60%;
    height: auto;
    text-align: center;
    margin: 1em 0em;
}

#contacts a {
    font-weight: 100;
    display: inline-block;
    margin: 0em .5em;
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: 80%;
    }
    #name {
        font-size: 3rem;
        margin: 1em 0em .5em 0em;
    }
    #contacts {
        width: 80%;
    }
}

