@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(fonts/icons.css);

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #FFFFFF;
	font-size: 16px;
}

body {
	overflow: auto;
	perspective: 1px;
}

h1, h2, h3, h4 {
	font-family: 'Roboto', Helvetica, arial, sans-serif;
	font-weight: 400;
}

a {	
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
	transition: all 0.2s ease;
	-webkit-transition: all 0.3s ease;
}
a:hover {
	color: rgba(30, 110, 220, 0.9);
}

#fractal {
	position: relative;
	height: 100%;
	width: 100%;
}

#fractalCanvas {
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	background: black;
}

#canvasText {
	z-index: 10;
	position: absolute;
	width: 100%;
	top: 50%;
	line-height: 64px;
	text-align: center;
	font-family: monospace;
	font-size: 64px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: #FFFFFF;
}

#scrollToContent {
	z-index: 10;
	cursor: pointer;
	position: absolute;
	bottom: 42px;
	left: 50%;
	width: 32px;
	height: 32px;
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform: translateX(-50%) rotate(-45deg);
	border-left: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	animation: scroll 2s infinite;
}

#refreshFractal {
	z-index: 10;
	cursor: pointer;
	position: absolute;
	top: 16px;
	right: 16px;
	width: 24px;
	height: 24px;
	transform: translateX(-50%) translateY(50%);
	-webkit-transform: translateX(-50%) translateY(50%);
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}

#refreshFractal:hover {
	transform: translateX(-50%) translateY(50%) scale(1.2);
	-webkit-transform: translateX(-50%) translateY(50%) scale(1.2);
}

@keyframes scroll {
	0% {
		opacity: 0;
		transform: translateX(-50%) translateY(-12px) rotate(-45deg);
		-webkit-transform: translateX(-50%) translateY(-12px) rotate(-45deg);
	}
	50% {
		opacity: 1;
		transform: translateX(-50%) rotate(-45deg);
		-webkit-transform: translateX(-50%) rotate(-45deg);
	}
	100% {
		opacity: 0;
		transform: translateX(-50%) translateY(12px) rotate(-45deg);
		-webkit-transform: translateX(-50%) translateY(12px) rotate(-45deg);
	}
}

.logo {
	display: block;
	opacity: 0.9;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-top: 36px;
	margin-bottom: 18px;
}

#mainCube {
	height: 200px;
	width: 200px;
	transition: opacity 0.5s ease-out, transform 1s ease-out;
	-webkit-transition: opacity 0.5 ease-out, transform 1s ease-out;
}

#mainCube:hover {
	opacity: 1.0;
	transform: scale(1.05, 1.05);
}

#mainTitle {
	display: block;
	height: 32px;
	width: 70%;
}

#content {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	padding-bottom: 90px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

.content-text {
	font-family: 'Roboto', arial, sans-serif; 
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
}

#notes {
	align-content: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.card {
	flex-grow: 1;
	flex-shrink: 1;
	float: center;
	display: inline-block;
	position: relative;
	justify-content: left;
	
	padding: 24px;
	margin: 12px;
	
	background: #FFFFFF;
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	z-index: 3;
}

.card, .card.pressable:active {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card:hover {
	box-shadow: 0 12px 16px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
	-webkit-box-shadow: 0 12px 16px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.card-row {
	flex: 0 1 100%;
}

.card h2 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 4px;
}
.card h3 {
	font-weight: 400;
}
.card ul {
	list-style: none;
}

.ripple-effect {
	position: relative;
	overflow: hidden;
}

.ripple {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 5;
}

.logo.ripple-effect .ripple {
	background-color: rgba(255, 255, 255, 0.3);
}

.ripple.animate {
	animation: ripple 1.5s;
}

@keyframes ripple {
	from {	
		width: 10px;
		height: 10px;
		opacity: 1;
	}
}

#quote {
	font-family: monospace;
	font-size: 14px;
	font-kerning: auto;
	line-height: 18px;
	
	padding: 16px;
}

#qauthor {
	font-weight: bold;
	margin-top: 6px;
}

#footer {
	position: fixed !important;
	background-color: #FFFFFF;
	display: inline-block;

	left: 0;
	bottom: 0;
	width: 100%;
	height: 48px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	z-index: 100;
	
	box-shadow: 0 2px 10px 0px black;
	-webkit-box-shadow: 0 2px 10px 0px black;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

#footer.no-shadow {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: none;
}

#footer.retracted {
	bottom: -68px;
}

.icon-bar {
	position: absolute;
	height: 48px;
}

#socialBar {
	left: 10vw;
	width: 80vw;
}

.icon-bar a {
	display: inline-block;
	width: 56px;
	height: 48px;
	align-content: center;
	vertical-align: middle;
	text-decoration: none;
}

.icon {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	vertical-align: middle;
	
	color: #5B5B5B;
	font-size: 32px;
	opacity: 0.5;
	
	transition: color 0.8s ease-out, opacity 0.5s ease-out;
	-webkit-transition: color 0.8s ease-out, opacity 0.5s ease-out;
}

.icon:hover {
	opacity: 1.0;
}

#gitBox {
	width: 70px;
}
.icons-github {
	opacity: 1.0;
	font-size: 44px;
}

.icons-github:hover {         color: #000000 !important;}
.icons-quora:hover {          color: #a82400 !important;}
.icons-outlook:hover {        color: #00a1f1 !important;}
.icons-medium:hover {         color: #02b875 !important;}
.icons-gmail:hover {          color: #ea4335 !important;}
.icons-stackoverflow:hover {  color: #f48024 !important;}
.icons-lichess:hover {        color: #000000 !important;}


@media (max-width: 600px) {
	#content {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	#footer {
		height: 8vw;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.icon-bar {
		height: 8vw;
		top: 2wv;
	}
	.icon-bar a, #gitBox {
		height: 8vw;
		width: 9vw;
	}
	.icon {
		font-size: 5vw;
		padding: 0.5vw;
	}
	.icons-github {        
		font-size: 7vw;
	}
}

@media (max-height: 480px) {
	#content {
		padding-bottom: 16px;
	}
	#footer {
		position: relative;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}
